html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #F3F2F2;
	font-family: Arial, sans-serif; 
}

.orientation-wrapper {
	display: none;
}

header {
    width: 100%;
    background: #ffffff;
    height: 89px;
    position: fixed;
    z-index: 10;
}

header nav .menu-icon {
	display: none;
}

header nav { 
    float: right;
    margin-right: 130px;
    margin-top: 10px;
}

header nav ul{
	list-style: none;
	display: block;
	margin: 0 auto;
	list-style: none;
}

header li{
	margin-top: 4px;
    display: inline-block;
    padding: 0 2px;
}

header li a { 
	display: block;
    color: #71bcc4;
    font-size: 21px;
    text-decoration: none;
    border: 1px solid transparent;
    padding: 15px;
}

header li a.active { 
    color: #71bcc4;
    opacity: 1;
    border: 1px solid #71bcc4;
    border-radius: 5px;
}
header li a:hover { 
	color: #71bcc4; 
	opacity:1;  
}

header li a.active:hover {
	color: #71bcc4;
} 

/*Header media queries*/
@media (max-width: 1680px) {
	header li{
		margin-top: 4px;
	}
	header li a img.nav-icon {
		display: none;
	}
}

@media (max-width: 1440px) and (min-width: 1280px) {
	header {
		height: 63px;
	}
	header nav {
		margin-top: 0;
		margin-right: 90px;
	}
	header li {
		margin-top: 11px;
		padding-left: 3px;
		padding-right: 3px;
	}
	header li a { 
	    font-size: 15px;
	    padding: 10px;
	}
}

@media (max-width: 1280px) {
	header {
		height: 54px;
	}

	header li {
		margin-top: 11px;
	}

	header li a { 
	    font-size: 15px;
	    padding: 6px;
	}
}

@media (max-width: 1024px) {
	header nav {
		margin-right: 55px;
	}

	header li {
		margin-top: 2px;
	}
}

@media (max-width: 640px) {
	header {
		height: 44px;
	}
	header nav {
		margin-right: 20px;
	}
	header nav .menu-icon {
		display: block;
		background: url('/images/menu_icon.png');
		width: 25px;
		height: 25px;
	}

	header nav ul {
		list-style: none;
	    display: none;
	    margin: 0 auto;
	    list-style: none;
	    position: fixed;
	    top: 44px;
	    right: 0;
	    width: 100%;
	    height: 100%;
	    overflow-x: hidden;
	    background-color: rgba(0,0,0, 0.8);
	    text-align: center;
	}
	header li {
		display: block;
	    width: 147px;
	    margin: 0 auto;
	}

	header li a {
		padding: 10px;
	}
}

@media (max-width: 360px) and (orientation: portrait) {
	body .orientation-wrapper {
		display: block;
    	background: url('/images/orientation_en.png');
    	background-size: cover;
    	position: fixed;
    	width: 100%;
    	height: 100%;
    	z-index: 100;
	}

	body[lang="RO"] .orientation-wrapper {
		background: url('/images/orientation_ro.png');
		background-size: cover;
	}

}



/*Common*/
section {
	min-width: 960px;
}

.bcg {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.inline-display {
	display: inline-block;
}

*.darken *{
	color: #333333;
}


.embed {
	width: 100%;
	height: 95%;
	position: relative;
	display: none;
	margin-left:0 auto;
	margin-right: 0 auto;
	padding-top: 1%;

}

.wrapper {
	font-family: Arial, sans-serif;
	font-size: 13px;
	padding: 10px 15px 15px 15px;
	width: 90%;
}
h4 {
	margin-top: 5px;
	margin-bottom: 5px;
}
p {
	line-height: 16px;
}
p:first-child {
	margin-top: 0;
}

/*#scrollbox3 {
    overflow: auto;
    width: 400px;
    height: 360px;
    padding: 0 5px;
    border: 1px solid #b7b7b7;
}*/

.track3 {
    width: 10px;
    background: rgba(250, 250, 0, 0);
    margin-right: 2px;
    border-radius: 10px;
    -webkit-transition: background 250ms linear;
    transition: background 250ms linear;
}

.track3:hover,
.track3.dragging {
    background: #d9d9d9; /* Browsers without rgba support */
    background: rgba(0, 0, 0, 0.15);
}

.handle3 {
    width: 5px;
    right: 0;v
    background: #ffffff;
    //background: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    -webkit-transition: width 250ms;
    transition: width 250ms;
}

.track3:hover .handle3,
.track3.dragging .handle3 {
    width: 10px;
}

/*Acasa*/
#acasa { 
	width: 100%; 
	height: 800px;
}


#acasa .item-surgery {
	background:url('/images/banner_top_surgery_7.png');
	color: #fff;
	height: 800px;
	margin: 0;
	background-size: cover;
	background-attachment: fixed;
}

#acasa .item-emergency {
	background:url('/images/banner_top_emergencies.png');
	color: #fff;
	height: 800px;
	margin: 0;
	background-size: cover;
}

#acasa .item-emergency.UK {
	background:url('/images/banner_top_en_emergencies.png');
	color: #fff;
	height: 800px;
	margin: 0;
	background-size: cover;

}



#acasa .item-damon {
	background:url('/images/banner_top_damon_3.png');
	color: #fff;
	height: 800px;
	margin: 0;
	background-size: cover;
}

#acasa-slider img {
	width: 100%;
	height: 100%;
}

.hsContainer {
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

#acasa .lSPager {
	display: none;
}

#acasa .surgery-content,
#acasa .emergency-content,
#acasa .damon-content {
	position: relative;
	width: 60%;
	margin-right: auto;
	margin-left: 20%;
	padding-top: 16%;
}

#acasa .emergency-content {
	margin-left: 30%;
	padding-top: 30%;
}

#acasa .damon-content {
	margin-left: 14%;
    padding-top: 15%;
}

#acasa .tel {
	color: #58909a;
	font-size: 60px;
	line-height: 38px;
	margin-bottom: 12px;
	font-weight: bold;
}


#acasa .title-main {
	color: #fff8de;
	font-size: 65px;
	line-height: 38px;
	margin-bottom: 12px;
	font-weight: bold;
	text-shadow: 0px 2px 3px #666;
}

#acasa .damon-content .title-main {
	font-size: 56px;
}

#acasa .description {
	font-size: 36px;
	margin-top: 35px;
	text-shadow: 0px 2px 3px #666;
}

#acasa .pret {
	color: #575757;
	font-size: 60px;
	font-weight: bold;
	margin-top: 10px;
}

#acasa .acasa-cta {
	margin-top: 35px;
	}

#acasa .acasa-cta a {
	
	text-decoration: none;
	cursor: pointer;
	font-weight: normal;
}

@media (max-width: 640px) { 
	#acasa .surgery-content {
		margin-left: 10%;
		padding-top: 15%;
	}

	#acasa .title-main {
		font-size: 1.5em;
	}

	#acasa .description {
		font-size: 1.2em;
		margin-top: 5px;
	}
}

.button {
	font-size: 16px;
}

.button a {
	color: #ffffff;
	padding: 20px;
	background-color: #71bcc4;
	border-radius: 5px;
	text-transform: uppercase;
	text-decoration: none;
}

.button a:hover {
	text-decoration: none;
}




/*Despre*/
#despre {
	background-color: #eaebeb;
	color: #000000;
	height: 560px;
	margin: 0;
}

#despre .bcg {
	background-color: #eaebeb;
}

#despre .badge {
	width: 100%;
	position: relative;
	padding: 50px;
}

#despre .badge .icon {
	float: left;
}

#despre .badge .description {
	width: 600px;
	color: #757574;
	font-size: 16px;
	margin-top: 30px;
}

#despre .badge .description .name,
#despre .badge .description .work {
	color: #333333;
}

#despre .badge .description .name {
	font-size: 20px;
	font-weight: bold;
	margin-top: 20px;
}

#despre .badge.tibi-badge {
	/*margin-left: 250px;*/
}

#despre .badge.tibi-badge .description {
	margin-left: 20px;
	float: left;
	
}

#despre .badge.adriana-badge {
	float: right;
	/*margin-right: 250px;*/
	margin-top: 25px;
}

#despre .badge.adriana-badge .icon {
	float: right;
}

#despre .badge.adriana-badge .description {
	float: right;
	text-align: right;
	margin-right: 20px;
}

/*Servicii*/
#servicii {
	background-color: #71bcc4;
	/*height: auto;*/
}

#servicii .servicii-content {
	width: 85%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
}

#servicii article {
	width: 400px;
	height: 95px;
	display: inline-block;
	font-size: 20px;
	text-transform: uppercase;
	color: #ffffff;
	padding: 0px 0px 30px 50px;
	vertical-align: middle;
}

#servicii article .icon {
	width: 76px;
	height: 58px;
	float: left;
}

#servicii article .title {
	float: left;
	margin-left: 25px;
	width: 229px;
	height: 58px;
	letter-spacing: 2px;
	vertical-align: middle;
}
#servicii article.parodontologie .title,
#servicii article.urgente .title,
#servicii article.terapia .title,
#servicii article.ortodontie .title {
	line-height: 58px;
}

#servicii article.protetica .title,
#servicii article.cosmetica .title,
#servicii article.profilaxie .title {
	margin-top: 8px;
}

#servicii article.implantologie .title,
#servicii article.hialuronic .title {
	margin-top: -4px;
}

#servicii .servicii-details {
	display: none;
	float: right;
	width: 51%;
	height: 326px;
	border: 1px solid #ffffff;
	border-radius: 5px;
	margin-right: 12%;
	padding: 8px;
}


#servicii article.profilaxie.darken .icon {content: url('/images/icon-profilaxie-black.png');}
#servicii article.cosmetica.darken .icon,
#tarife article.hialuronic.darken .icon {content: url('/images/icon-hialuronic-black.png');}
#servicii article.hialuronic.darken .icon,
#tarife article.cosmetica.darken .icon {content: url('/images/icon-cosmetica-black.png');}
#servicii article.parodontologie.darken .icon {content: url('/images/icon-prodontologie-black.png');}
#servicii article.protetica.darken .icon,
#tarife article.protetica.darken .icon {content: url('/images/icon-protetica-black.png');}
#servicii article.implantologie.darken .icon,
#tarife article.chirurgie.darken .icon,
#tarife article.implantologie.darken .icon {content: url('/images/icon-chirurgie-black.png');}
#servicii article.ortodontie.darken .icon,
#tarife article.ortodontie.darken .icon {content: url('/images/icon-ortodontie-black.png');}
#servicii article.urgente.darken .icon {content: url('/images/icon-urgente-black.png');}
#servicii article.terapia.darken .icon {content: url('/images/icon-terapia-black.png');}

#servicii .servicii-details .embed {
	overflow: hidden;
}

/*Media*/
#media {
	height: 400px;
}

#media .bcg {
	background: url('/images/dental_tools.png') no-repeat;
	margin: 0;
}

#media .media-wrapper {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#media .facebook-content,
#media .twitter-content {
	float: left;
	margin-left: auto;
	margin-right: auto;
	width: 380px;
	text-align: center;
	margin-top: 115px;
}

#media .twitter-content {
	margin-left: 180px;
}

#media .facebook-content img,
#media .twitter-content img {
	width: 200px;
	height: 200px;
	float: left;
}

#media .facebook-details,
#media .twitter-details {
	float: right;
	color: #ffffff;
	margin-top: 35px;
	width: 112px;
}

#media .facebook-details .result-likes,
#media .twitter-details .result-followers {
	font-size: 60px;
}

#media .facebook-details .likes-text,
#media .twitter-details .followers-text {
	font-size: 36px;
}


/*Appointment*/
#appointment {
	width: 100%;
	height: 270px;
	background-color: #333333;
}

#appointment .appointment-content {
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	text-align: center
}

#appointment .appointment-content .appointment-text {
	color: #ffffff;
	font-size: 33px;
	padding-top: 81px;
}

#appointment .appointment-content .appointment-cta {
	padding-top: 40px;
}
#appointment .appointment-content .appointment-cta a {
    padding-left: 100px;
    padding-right: 105px;
    font-weight: bold;
    font-size: 22px;
}

/*Galerie*/
#galerie {
	background-color: #333333;
	height: 750px;
}

#galerie img {
	width: 100%;
	height: 100%;
}

#galerie .galerie-container ul.lSPager {
	margin-top: -18px !important;
}

#galerie .galerie-container ul#galerie-slider li{
	height: 750px !important;
}


/*Tarife*/
#tarife {
	background-color: rgba(88, 146, 156, 0.64);
	height: auto;
}

#tarife .tarife-content {
	width: 85%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
}

#tarife article {
	width: 400px;
	height: 190px;
	display: inline-block;
	font-size: 20px;
	color: #ffffff;
	padding: 0px 0px 30px 50px;
	vertical-align: middle;
}

#tarife article .description {
	width: 239px;
	font-size: 12px;
	margin-left: 15px;
	float: left;
}

#tarife article .description .title {
	text-transform: uppercase;
	font-size: 20px;
	margin-bottom: 10px;
}

#tarife article .description .short-description {
	letter-spacing: 1.1px;
	margin-bottom: 10px;
}
#tarife article .description .preturi-cta {
	border: 1px solid #fff;
    border-radius: 5px;
    width: 50px;
    padding: 5px 11px;
    cursor: pointer;
}

#tarife article.darken .description .preturi-cta {
	border: 1px solid #333333;
}

#tarife article .icon {
	width: 76px;
	height: 58px;
	float: left;
}

#tarife .tarife-details {
	display: none;
	float: right;
	width: 51%;
	height: 543px;
	border: 1px solid #ffffff;
	border-radius: 5px;
	margin-right: 12%;
	padding: 8px;
}
#tarife .tarife-details .embed {
	overflow: hidden;
}

#tarife .tarife-details .embed .wrapper {
	padding-left: 0;
	padding-right: 0;
}

#tarife .tarife-details ul li {
	list-style: none;
	display: block;
	margin-bottom: 5px;
	line-height: 25px;
}

#tarife .tarife-details ul li .service {
	float: left;
	width: 80%;
}

#tarife .tarife-details ul li .price {
	float: right;
	text-align: right;
	width: 20%;
}


/*Pareri*/
#pareri {
	background: url('/images/smiling.png');
	height: 620px;
	width: auto;
}

#pareri .pareri-container {
	margin-left: auto;
    padding-top: 13%;
    margin-right: auto;
    width: 62%;
    color: #ffffff;
    text-align: center;
    font-size: 23px;
    letter-spacing: 2.5px;

}

#pareri .pareri-container .author {
	font-weight: bold;
	padding-top: 20px;
	font-size: 26px;
	display: block;
}

#pareri .pareri-container ul li{
	height: 368px !important;
}


/*Contact*/
#contact {
	background-color: #f3f2f2;
	height: auto;
}

#contact .contact-header {
	height: 200px;
	text-align: center;
}

#contact .contact-header .contact-title {
	padding-top: 65px;
	font-size: 48px;
	color: #71bcc4;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 4px;
}

#contact .contact-header .contact-subtitle {
	color: #757574;
	padding-top: 20px;
	letter-spacing: 2px;
	font-size: 22px;
}

#contact .contact-map {
	height: 600px;
	width: 100%;
	margin-top: 25px;
	background: url('/images/map.png') no-repeat;
}

#contact .contact-referrences {
	width: 70%;
	height: 155px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
}

#contact .contact-referrences > div  {
	display: table-cell;
	width: 30%;
	vertical-align: top;
	
}

#contact .contact-referrences .icon {
	width: 76px;
	height: 58px;
	float: left;
}

#contact .contact-referrences .contact-contact .icon {background: url('/images/icon-message.png');}
#contact .contact-referrences .contact-orar .icon {background: url('/images/icon-clock.png');}
#contact .contact-referrences .contact-adresa .icon {background: url('/images/icon-compas.png');}

#contact .contact-referrences .details {
	padding-left: 15px;
	width: 300px;
	float: left;
}

#contact .contact-referrences .details .title {
	font-weight: bold;
	font-size: 21px;
	color: rgba(88, 146, 156, 0.74);
	text-transform: uppercase;
	letter-spacing: 2px;
}

#contact .contact-referrences .details .text {
	padding-top: 18px;
	font-size: 16px;
	color: rgba(88, 146, 156, 0.64);

}

#contact .contact-referrences .details .text p {
	line-height: 15px;
	margin: 0px 0px 5px 0px;
	letter-spacing: 2px;
}

#contact .contact-form {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 40px;

}

#contact .contact-form .name-field,
#contact .contact-form .mail-field {
	width: 50%;
	float: left;
}

#contact .contact-form .message-field {
	padding-top: 120px;
}

#contact .contact-form label,
#contact .contact-form input {
	display: block;

}

#contact .contact-form .name-field input:focus,
#contact .contact-form .mail-field input:focus,
#contact .contact-form .message-field textarea:focus {
	outline: transparent;
    border: 2px solid rgba(90, 146, 155, 0.8);
    color: #5A929B;
}

#contact .contact-form label {
	text-indent: 11px;
    padding-bottom: 4px;
    font-size: 18px;
    color: #80ABB3;
}

#contact .contact-form .name-field input,
#contact .contact-form .mail-field input,
#contact .contact-form .message-field textarea {
	width: 96%;
    font-size: 29px;
    border-radius: 5px;
    height: 50px;
    color: rgba(88, 146, 156, 0.74);
    border: 0.2px solid rgba(88, 146, 156, 0.34);
    text-indent: 13px;
    background-color: #F3F2F2;
}

#contact .contact-form .mail-field input,
#contact .contact-form .message-field textarea {
	width: 100%;
}

#contact .contact-form .message-field textarea {
	height: 250px;
	padding-top: 10px;
}

#contact .contact-form .submit-field {
	width: 100%;
    height: auto;
    text-align: right;
    margin-bottom: 15px;
}
#contact .contact-form button {
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid #BED2D5;
    color: #ffffff;
    background-color: #8BB2B9;
    font-size: 16px;
    margin-top: 10px;
}

/*Footer*/
footer {
	background-color: #333;
	width: 100%;
	height: 100px;
	color: #ffffff;
}

footer .footer-content {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	line-height: 100px;
}

footer .footer-content .copyright {
	float: left;
}

footer .footer-content .creator {
	float: right;
}
